body {
    background-color: rgb(191, 182, 182)
  }
header {
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
    }
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #242424;
    }
    
li {
      float: left;
    }
    
li a {
      display: block;
      color: whitesmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
li a:hover {
      background-color: #111;
    }
footer {
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;
    }

table {
  border-style: inset;
  border-collapse: collapse;
  width: 100%;
}
td {
  height: 50px;
}
