body {
    background-color: rgb(191, 182, 182)
  }
#mytitle {
    background-color: lightblue;
    color: rgb(255, 0, 0);
    padding: 40px;
    text-align: center;
    font-family: rounded-arial;
    font-size: 80;
    border-collapse: collapse;
  }
th {
	  background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-size: 300%;
    border-collapse: collapse;
    border: 1px solid black;
  }
td {
	text-align: center;
    font-size: 130%
}
  h1 {
    color: rgb(255, 0, 0);
    font-family: century-schoolbook;
    font-size: 60;
  }
  h2 {
    color: rgb(0, 0, 255);
    font-family: century-schoolbook;
    font-size: 30;
  }
  p {
    color: black;
    font-size: 20;
  }